
@{ 
    ViewData["Title"] = "Skills";
}

<link rel="stylesheet" href="~/css/skills.css">
<div class="heading" style="padding:1%" >   
    <h1 class="display-3 text-center" style="font-weight: 500"> SKILLS & <span style="color:red"> ABILITIES</span> </h1>
</div>

<br />
<div class="container-fluid" style="padding:1px;background-color : #D2C7C7; width:85%">
    <div class="row d-flex justify-content-center align-items-center" style="margin:1%">
       <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/html.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">HTML</p>
           </div>
       <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/R.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">CSS</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/js.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">JAVASCRIPT</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/java.jpg" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">JAVA</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/c++.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">C++</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/rails.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">RUBY ONRAILS</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/react.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">REACT</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/python.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">PYTHON</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/c.jpeg" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">C</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/cshp.jpeg" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">C#</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/android.jpeg" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">Android Develop.</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/sql.jpeg" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">SQL</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/bootstrap.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">BootStrap</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/tailwind.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">Tailwind</p>
           </div>
           <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/github.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">GitHub</p>
           </div>
           @* <div class="col-lg-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#6F6868;padding:1%;margin:1%" >
               <img class="" alt="avatar1" src="~/images/office.png" width="50px" height="50px" />
                <p style="margin-bottom : 0; color: white">MS Office</p>
           </div> *@

    </div>
</div>
